<h1 style="text-align: center;">   Testing Employee Services   </h1>
<div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
  @for (emp of employees; track $index) {
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">{{emp.name}}</h4>
        </div>
        <div class="card-body">
          @if(currentEmpId===emp.id){
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{emp.department}}</li>
              <li>{{emp.location}}</li>
              <li>{{emp.phone}}</li>
            </ul>
          }       
        <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="getEmp(emp.id)">View Details</button>
        </div>
      </div>
    </div>
  }
</div>