<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    @for(course of courses; track course.id){
    <div class="col-lg-4">
      <svg
        class="bd-placeholder-img rounded-circle"
        width="100"
        height="100"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <title>Placeholder</title>
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <button class="fw-normal btn btn-dark-outline" [routerLink]="['/courses']"
      [queryParams]="{id: course.id, title: course.title, pic: course.pic}"> {{course.title}} </button>
    </div>
    }
  </div>
  <!-- /.row -->
</div>
<router-outlet></router-outlet>
